.ant-layout {
  background-color: var(--color-primary-bg-100);
}

.ant-layout-sider, .sidebar-drawer.ant-drawer-content {
  background-color: var(--color-gray-800)!important;
}

.ant-layout-header {
  background-color: var(--color-white);
}

.dark .ant-layout-header {
  background-color: var(--color-gray-800);
}

.ant-modal-content {
  padding: 16px 0 !important;

  .ant-modal-header {
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-gray-200);
    padding-left: 20px;
    padding-right: 20px;

    .ant-modal-title {
      font-size: 16px !important;
      line-height: 22px;
    }
  }

  .ant-modal-body {
    padding: 0 20px;
  }
	
	.ant-modal-footer {
		padding: 0 20px;
	}
}

.dark {
	.ant-card {
		background: var(--color-gray-800);
		border: none;
	}
	.profile-drawer.ant-drawer-content {
		background-color: var(--color-gray-800);
		.anticon-close {
			color: white;
		}
	}
}
