@import "../colors";
@import "../var";

.ant-select-selector {
	background: transparent;
	border-color: var(--color-gray-200)!important;
	color: var(--color-gray-700);
	padding-left: 16px!important;
	padding-right: 16px!important;
	transition: .2s all;
	border-radius: var(--input-border-radius);
	&:focus:not(.ant-input-disabled), &:hover:not(.ant-input-disabled) {
		box-shadow: var(--bsh-stroke-normal)!important;
		border-color: var(--color-gray-200)!important;
	}
}

.ant-select-dropdown {
	min-width: 120px!important;
}

.ant-select-lg {
	.ant-select-selector {
		height: var(--input-height)!important;
		.ant-select-selection-item {
			line-height: var(--input-height)!important;
		}
	}
}

.ant-form-item-required::after {
	display: inline-block!important;
	color: var(--color-primary-600)!important;
	font-size: 14px!important;
	line-height: 1!important;
	content: "*"!important;
}

.ant-form-item-required::before {
	display: none!important;
}

.ant-form-item-explain-error {
	color: var(--color-red-500)!important;
	font-size: 12px;
	line-height: 16.8px;
	margin-top: 6px;
}

.ant-select-multiple {
	.ant-select-selector {
		padding-left: 8px!important;
	}
	.ant-select-selection-item {
		background: var(--color-gray-50)!important;
		border-radius: 100px!important;
		border: none!important;
		height: 24px!important;
		.ant-select-selection-item-content {
			font-size: 12px;
			line-height: 24px;
		}
		.ant-select-selection-item-remove {
			line-height: 24px!important;
		}
	}
}

.ant-select-status-error {
	.ant-select-selector {
		border-color: var(--color-red-400)!important;
		&:focus:not(.ant-input-disabled), &:hover:not(.ant-input-disabled) {
			box-shadow: unset!important;
			border-color: var(--color-red-400)!important;
		}
	}
}

.input-error-message {
	margin-top: 6px!important;
}

.ant-form-item-label {
	padding-bottom: 6px!important;
	label {
		font-size: 14px!important;
		line-height: 19.6px;
		color: var(--color-gray-700)!important;
	}
}

.dark {
	.ant-select-selector {
		background: transparent!important;
		border-color: var(--color-gray-600)!important;
		color: var(--color-white-100)!important;
	}
	.ant-form-item-label {
		label {
			color: var(--color-gray-100)!important;
		}
	}
	.ant-select-selection-item, .ant-select-arrow {
		color: var(--color-gray-100)!important;
	}
	.ant-select-dropdown {
		background: var(--color-gray-800);
		.ant-select-item-option-content {
			color: white;
		}
		.ant-select-item-option-disabled {
			.ant-select-item-option-content {
				color: var(--color-gray-500)!important;
			}
		}
		.ant-select-item-option-active, .ant-select-item-option-selected {
			background: var(--color-gray-700);
		}
	}
	.ant-empty-description {
		color: white;
	}
}

.ant-select-selection-search-input::placeholder, .ant-select-selection-placeholder, .ant-select-selector::after {
	color: var(--color-gray-400)!important;
}

.ant-input-status-error {
	.ant-select-selector {
		border-color: var(--color-red-400)!important;
	}
}

.dark  {
	.ant-select-selector {
		border: 1px solid var(--color-gray-600) !important;
	}

	.ant-select {
		border-radius: 8px;
	}

	.ant-select-item-group {
		color: var(--color-white-100);
	}

	.ant-select-disabled {
		background: var(--color-gray-700) !important;
	}

	.ant-select:hover .ant-select-selector,
	.ant-select-focused .ant-select-selector,
	.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
		border-color: var(--color-gray-200) !important;
	}
}
