@use '@/assets/styles/utils' as utils;

:global(.ant-table table) {
  font-weight: theme('fontWeight.normal') !important;
  font-size: theme('fontSize.sm') !important;
  color: theme('colors.gray.700') !important;
}

:global(.ant-table th) {
  font-weight: theme('fontWeight.medium') !important;
  color: theme('colors.gray.500') !important;
}

.dark {
  .ant-table-cell {
    color: var(--color-gray-300) !important;
    background-color: var(--color-gray-800) !important;
    border-color: var(--color-gray-600) !important;
  }

  .ant-table-thead {
    .ant-table-cell {
      background-color: var(--color-gray-700) !important;
    }
  }
}

.ant-table-content {
  &::-webkit-scrollbar {
    height: 4px;
  }
}