@use '@/assets/styles/utils' as utils;
@import "@/assets/styles/colors";

:global(.ant-layout-sider) {
  position: sticky !important;
  top: 0;
  padding-bottom: 0 !important;
}

:global(.ant-layout-sider-children) {
  display: flex;
  flex-direction: column;
}

:global(.ant-layout-sider-collapsed a span) {
  display: none;
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}

.header {
  background-color: #fff;
  padding: utils.toRem(12px) utils.toRem(24px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-content {
	max-height: calc(100vh - 64px - 16px);
}
